body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    text-align: justify;
    }
    h1{
    font-size:50px ;
    }
    h2{
        font-size: 40px;
    }
    .orange-color{
    color:orange;
    }
    .flexible-container{
    display: flex;
    margin-bottom: 100px;
    }
    .half-width{
    width: 50%;
    padding-left:2% ;
    }
    .half-width img{
    width:60%;
    }
    .link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(238, 168, 38),rgb(233, 30, 30));
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    }
    .top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    }
    .dream-big{
        background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
    }
    .experience-item{
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 10px 10px 40px gray;
    }
    .experience-area {
        background-image: url(images/exp-bg.png);
        background-repeat: no-repeat;
        background-position: left;
    }
    #Full-Stack-Web-Developer{
        border-left: 7px solid ;
        border-image:linear-gradient(rgb(65, 224, 252),rgb(106, 221, 52));
        border-image-slice: 1;
       
    }
    #Baby-Web-Developer{
        border-left: 7px solid ;
        border-image:linear-gradient(rgb(247, 37, 0),rgb(213, 109, 223));
        border-image-slice: 1;
    }
    footer{
        text-align: center;
        margin-bottom: 35px;
    }